<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>hthebmlvyznmry@tznvy.pbz</string>
	<key>contactName</key>
	<string>Uğur Özyılmazel</string>
	<key>description</key>
	<string>Ruff is an extremely fast Python linter, written in Rust. This is TextMate2
Bundle implementation by Uğur “vigo” Özyılmazel.

- Visit https://docs.astral.sh/ruff/ for ruff
- Visit https://github.com/vigo/textmate2-ruff-linter for updates :)</string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>F2DC6971-9B06-4593-9EC6-D467AADB43AF</string>
			<string>9DB6C68B-B678-40FA-962B-799733FCA199</string>
			<string>------------------------------------</string>
			<string>D16E4203-64E5-46BF-B8B9-6B5AABA4795B</string>
			<string>3917DA22-D1C0-4434-A85A-8C79DA169969</string>
			<string>40241AB3-EAF3-4967-8F02-555020846FB4</string>
            <string>DD22FE90-953D-44D2-A654-D7A8DEB22905</string>
            <string>3D3A5357-6880-4DE6-A545-B5E44B083C12</string>
			<string>------------------------------------</string>
			<string>43225319-9C68-460C-9F1A-3EF06B4B8B60</string>
			<string>C13163AC-2A58-463E-AF04-775398285D3D</string>
			<string>49795432-DCEB-4209-B01C-3220E52FFC36</string>
			<string>2972AF6F-7A3C-4DA9-B672-D4DD29B00F8C</string>
            <string>3BEC9E9F-7651-40EB-9ADB-4D7154EE4272</string>
            <string>31ECF00E-DCBE-4085-841C-13493E428018</string>
			<string>------------------------------------</string>
            <string>FC376A70-ADED-4D69-A9C7-3C0EBC941C71</string>
            <string>0C205D6F-9DFC-4311-AC0B-C3C0DAC938B2</string>
            <string>------------------------------------</string>
		</array>
        
        <key>submenus</key>
        <dict>
            <key>FC376A70-ADED-4D69-A9C7-3C0EBC941C71</key>
            <dict>
                <key>items</key>
                <array>
                    <string>8BD3B1A7-E10B-4FF8-8FDF-D811E91884EE</string>
                    <string>E04E6A73-94AD-4062-8135-1D221CF57FF8</string>
                    <string>------------------------------------</string>
                    <string>5B62783B-988E-4AE0-A7D6-E8F5419F0A4A</string>
                    <string>------------------------------------</string>
                </array>
                <key>name</key>
                <string>tm_properties Helper</string>
            </dict>

            <key>0C205D6F-9DFC-4311-AC0B-C3C0DAC938B2</key>
            <dict>
                <key>items</key>
                <array>
                    <string>4D8A7310-4ACB-434D-A237-6CF5235E07F4</string>
                </array>
                <key>name</key>
                <string>ruff Config Helper</string>
            </dict>
        </dict>
	</dict>
	<key>name</key>
	<string>Python Ruff Linter</string>
	<key>uuid</key>
	<string>F53A0FF3-C771-4683-B504-6D60EBABEF84</string>
</dict>
</plist>
